<?xml version="1.0"?>

<model>
  <name>Ichor Spurt Sensor Config 1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Peter Milani</name>
    <email>petermilani80@gmail.com</email>
  </author>


  <description>
    X3 UAV with sensor configuration SPURT: 3x VGA RGBD camera (Port, Starboard, Front), 1x VGA RGB Camera oriented down,  IMU, pressure sensor, magnetometer.
  </description>
</model>
